.example-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(2,94,179,1);
background: -moz-linear-gradient(-45deg, rgba(2,94,179,1) 0%, rgba(0,34,71,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,94,179,1)), color-stop(100%, rgba(0,34,71,1)));
background: -webkit-linear-gradient(-45deg, rgba(2,94,179,1) 0%, rgba(0,34,71,1) 100%);
background: -o-linear-gradient(-45deg, rgba(2,94,179,1) 0%, rgba(0,34,71,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(2,94,179,1) 0%, rgba(0,34,71,1) 100%);
background: linear-gradient(135deg, rgba(2,94,179,1) 0%, rgba(0,34,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025eb3', endColorstr='#002247', GradientType=1 );
  z-index: 1;
}

.login-full-width {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

svg
{
	max-width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0px;
  transform: translate(-50%, 0);
}

circle
{
	stroke: #025aac;
	fill: transparent;
	stroke-dasharray: 1.5708; /* ½π */
}

#rotate-clockwise, #rotate-counter-clockwise
{
	animation: 6s linear infinite;
}

#rotate-clockwise
{
	animation-name: rotation-clockwise;
}

#rotate-counter-clockwise
{
	animation-name: rotation-counter-clockwise;
}

@keyframes rotation-clockwise
{
	from { transform: rotate(0) }
	to   { transform: rotate(360deg) }
}

@keyframes rotation-counter-clockwise
{
	from { transform: rotate(360deg) }
	to   { transform: rotate(0) }
}



.mat-form-field-label, .mat-form-field-label-wrapper, .mat-input-element{
  color: #478aca;
}
