.example-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  top: 0;
  width: 100%;
   background: linear-gradient(135deg, rgb(187, 150, 255) 0%, rgb(102, 108, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025eb3', endColorstr='#002247', GradientType=1 );
}

.login-full-width {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

svg
{
	max-width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0px;
  transform: translate(-50%, 0);
}

circle
{
	stroke: #025aac;
	fill: transparent;
	stroke-dasharray: 1.5708; /* ½π */
}

#rotate-clockwise, #rotate-counter-clockwise
{
	animation: 6s linear infinite;
}

#rotate-clockwise
{
	animation-name: rotation-clockwise;
}

#rotate-counter-clockwise
{
	animation-name: rotation-counter-clockwise;
}

@keyframes rotation-clockwise
{
	from { transform: rotate(0) }
	to   { transform: rotate(360deg) }
}

@keyframes rotation-counter-clockwise
{
	from { transform: rotate(360deg) }
	to   { transform: rotate(0) }
}



.mat-form-field-label, .mat-form-field-label-wrapper, .mat-input-element{
  color: #0c1430;
}

.mat-raised-button.mat-primary[disabled]{
  color: #ae9eff;
}


.flex-outer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-logo{
  background: url('../../assets/logo.png'), #0c1430;
  /* background-size: contain; */
  background-size: 400px;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 50% 50%;
}

.flex-50{
  width: 50%;
}


.flex-50 .mat-raised-button.mat-primary {
  background-color: #570d9c;
}
