<!-- <nav class="header-nav">

<div class='navToggler'>
<div class='toggler'>
  <span></span>
  </div>
</div>



<div>
  <ul>
    <li><a routerLink="/app-mainpage" >Main Page</a></li>
    <li><a routerLink="/card-dashboard" >Cards Dashboard</a></li>
  </ul>
</div>

</nav> -->


<!-- *ngIf="user" -->
<nav class="user-block">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip (click)= signOut()>Sign out</mat-chip>
  </mat-chip-list>

  <img src='' />

  <!-- <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
      </div> -->
</nav>