.cards-section {
  /* background: #151936; */
  /* background-image: linear-gradient(to right, #b2e1e8, #c5a6a6); */
  /* background: linear-gradient(135deg, rgb(208, 189, 249) 0%, rgb(125, 226, 255) 100%); */
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(202, 202, 202) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.cards-outer-block {
  width: 260px;
  max-width: 320px;
  perspective: 1200px;
}

.card-block {
  width: 230px;
  color: #fff;
  margin: 15px 15px 15px 15px;
  padding: 15px;
  background: linear-gradient(to right, #4684d2, #707af1);
  border-radius: 10px;
  box-shadow: 0px 5px 20px -5px #777;
  cursor: pointer;
  transition: all linear 30ms;
  transform: rotateY(0deg);
}

.card-block.selected {
  background: linear-gradient(to right, #f76f6f, #b34f4f);
  width: 240px;
  margin-left: 30px;
  /* transform: rotateY(20deg); */
}

.card-block ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
  font-size: 13px;
}

.card-block ul li label {
  opacity: 0.5;
  display: block;
  font-size: 10px;
}

.hidden {
  display: none;
}

span.cross {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.add-card-block {
  width: 100%;
  padding: 20px;
}

.add-card-block button {
  margin: 6px 0px;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  border: 1px solid #b6886f;
  color: #b5866e;
}

.add-card-block form {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  padding: 20px;
  border: 1px solid #56a6b4;
  background: #c4e0e5;
  box-shadow: 0px 5px 20px -5px #777;
}

.add-card-block form h5 {
  margin: -20px;
  margin-bottom: 10px;
  background: #56a6b4;
  position: relative;
  padding: 10px;
  color: #c3dfe4;
  font-weight: 400;
}

.add-card-block form input {
  max-width: 300px;
  margin: 8px 0;
  padding: 4px 20px;
  font-size: 13px;
  background: transparent;
  border: 1px solid #53a5b2;
  color: #146b79;
}

.add-card-block form input::placeholder {
  color: #6b6b6b;
}

.add-card-block form button {
  max-width: 200px;
}

.master-card {
  background-image: url('../../assets/mastercard.png');
  width: 60px;
  background-size: contain;
  display: block;
  height: 40px;
  background-repeat: no-repeat;
  float: right;
}

.visa-card {
  background-image: url('../../assets/logo-visa.png');
  width: 60px;
  background-size: contain;
  display: inline-block;
  height: 40px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.card-block ul li.card-num {
  letter-spacing: 3px;
  text-align: center;
  margin: 15px 0px;
}

.card-type {
  position: absolute;
  left: 20px;
  top: 8px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  opacity: 0.5;
}

.card-service::after{
  position: absolute;
  content: attr(title);
  width: 110px;
  right: 10px;
  bottom: 5px;
  font-size: 20px;
  text-align: right;
  opacity: 0.1;
  text-transform: uppercase;
}


.cards-container{
  width: 100%;
  padding: 30px;
}

.cards-detail-section{
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.cards-detail-block{
  padding: 5px 15px;
  flex: 5 auto;
}

.cards-overview-block{
  box-shadow: 4px 0 14px -20px #000000, inset -4px 0px 16px -20px #000000;
  border-right: 1px solid #f5f5f5;
  flex: 1 auto;
  text-align: right;
  padding-right: 30px;
}

.cards-overview-block h1{
  font-size: 60px;
    color: #ff7474;
    text-shadow: 0px 8px 9px #e0baba;
    margin: 5px 0px;
}

.cards-overview-block ul{
list-style: none;
}
