<section class="cards-section">
  <div class="cards-outer-block">
    <div
      *ngFor="let card of cardsArray; let i = index"
      class="card-block"
      [class.selected]="i === selectedCardIndex"
      (click)="onSelectCard(card, i)"
    >
      <ul>
        <li>
          <span class="visa-card"></span>
          <span class="card-type"> {{ card.card_type }}</span
          ><span class="master-card"></span>
        </li>
        <li class="hidden">
          {{ card.card_id }}
        </li>
        <li class="card-num">
          {{ card.card_num | CardPipe }}
        </li>
        <li>
          <label>CARD HOLDER</label>
          {{ card.card_name | uppercase }}
        </li>
        <span class="card-service" [attr.title]="card.card_service"></span>
      </ul>
    </div>
  </div>

  <div class="cards-container">
    <div class="add-card-block">
      <button (click)="AddCard()">Add Card</button>
      <form
        [formGroup]="cardForm"
        (ngSubmit)="onCardSubmit(cardForm.value)"
        *ngIf="enableAddCard"
      >
        <h5>Add Card <span class="cross" (click)="AddCard()">x</span></h5>
        <input
          type="text"
          formControlName="card_service"
          placeholder="card_service"
          value=""
        />
        <input
          type="text"
          formControlName="card_type"
          placeholder="card_type"
          value=""
        />
        <input
          type="text"
          formControlName="card_name"
          placeholder="card_name"
          value=""
        />

        <input
          type="text"
          formControlName="card_num"
          placeholder="card_num"
          value=""
        />

        <button [disabled]="!cardForm.valid" type="submit">Save Card</button>
      </form>
    </div>
    <div class="cards-detail-section">
      <div class="cards-overview-block" *ngIf="selectedCard">
        <h1 appAnimateCount>{{ selectedCard.balance }}</h1>
        <ul>
          <li>{{ selectedCard.card_name }}</li>
          <li>{{ selectedCard.card_service }}</li>
          <li>{{ selectedCard.card_type }}</li>
          <li>{{ selectedCard.card_name }}</li>
        </ul>
      </div>
      <div class="cards-detail-block">
        <div  *ngIf='transaction.id' >
        <span class="hidden">{{ transaction.id }}</span>

        <div class="category-block" *ngFor="let item of transaction.items">
          <div class="category-icon">
            <i
              *ngIf="item.category == 7; else elseBlock"
              class="material-icons"
            >
              add_shopping_cart
            </i>
            <ng-template #elseBlock
              ><i class="material-icons">
                fastfood
              </i>
            </ng-template>
            <label>{{ item.title }}</label>
          </div>
          <div class="category-detail">
            <p>{{ item.category }}</p>
            <p>{{ item.income }}</p>
            <p>{{ item.amount }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
